.bookcard {
  width: 10rem;
  position: relative;
  background-color: #309a85;
  margin-bottom: 1rem;
  border-radius: 0% 0% 10%;
}
.bookcard img {
  max-width: 100%;
}

.bookcard-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding-bottom: 0.5rem;
}
.card-holder {
  position: relative;
}
.card-holder .btn-floating {
  position: absolute;
  z-index: 12;
  top: 0;
  right: 0;
}
.prev,.next{
  color:#fff;
}

.cat-pagination{
  display:flex;
  justify-content: space-around;
}
.cat-pagination > div{
text-decoration: underline;
cursor: pointer;
}
