.dashboard-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f6f5f5;
  display: flex;
  justify-content: space-around;
  color: #707070;
}

.profile-details,
.profile-shelf {
  flex-basis: 45%;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(129, 129, 129, 0.37);
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.profile-img {
  width: 9rem;
  flex-shrink: 0;
}
.profile-img img {
  max-width: 100%;
}
.profile-intro {
  display: flex;
}
.profile-quote {
  align-self: flex-end;
  margin-left: 1rem;
  width: 15rem;
}
.profile-quote p {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.4px;
}
.edit-profile {
  align-self: center;
  margin-top: 3rem;
}
.sub-section {
  margin-top: 2.5rem;
}
.sub-section-detail {
  margin-left: 2.5rem;
  color: #2a675f;
  font-weight: bold;
}
.sub-section-detail ul {
  display: flex;
  justify-content: space-between;
}

.shelf h4 {
  text-align: center;
}

.shelf-container {
  display: flex;
  flex-wrap: wrap;
}
.shelf-item {
  /* margin-left: 2rem; */
  height: 100%;
  width: 5rem;
}
.shelf-item img {
  max-width: 100%;
  height: 100%;
}
